<%- include('partials/header.ejs') %>

    <div class="container">
        <h2 >Welcome to the Login System</h2>
        <a href="/signup" class="btn btn-primary">
            Signup
        </a>
        <a href="/login" class="btn btn-secondary">
            Login
        </a>
        
    </div>

<%- include('partials/footer.ejs') %>
