<%- include('partials/header.ejs') %>

<div class="container mt-5">
    <h2 class="text-center mb-2">Enter your details here</h2>
    <form method="POST" action="/signup">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Signup</button>
        <a href="/" class="btn btn-warning">Go Back</a>
    </form>
</div>

<%- include('partials/footer.ejs') %>